{% load static %}

body {
  font-family: 'Bahnschrift Light', Arial, sans-serif;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: calc(10px + (6 + 6 * 0.7) * (100vw - 320px) / 1280);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'Bahnschrift Light', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}

/* Video/head/menu */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.ScrollSmoother-wrapper{
    display:none;
}
.wrapper{
    padding-top: 85px;
}
form {
    margin-top:150px;
    z-index:100;
}
nav{
    position:absolute;
    display:fixed;
    height: 85px;
    z-index:100;
}

.head-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-video .logo {
  color: #545460;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("{% static 'core/media/menu.png' %}");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 22%;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
  background-color: rgba(17, 17, 17, 0.7);
  padding: 3% 20% 3% 4%;
  border-radius: 20px;
}

#size1 {
  font-family: 'Cascadia Code ExtraLight', sans-serif;
  font-size: calc(23px + (18 + 18 * 0.7) * (100vw - 320px) / 1280);
  color: white;

}

#size2 {
  font-family: 'Microsoft JhengHei Light', sans-serif;
  font-size: calc(15px + (5 + 5 * 0.7) * (100vw - 320px) / 1280);
  color: rgb(101, 101, 101);
  margin-bottom: 7%;
}

.text p {
  font-family: 'Microsoft JhengHei Light', sans-serif;
  font-size: calc(10px + (5 + 5 * 0.7) * (100vw - 320px) / 1280);
  color: #fff;
  margin: 20px 0;
  max-width: 700px;
  line-height: 1.5em;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10%;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
  width: 50px;
}

.social li a {
  display: inline-block;
  width: 50px;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
  margin-bottom: 10%;
}

.menu ul li a {
  text-decoration: none;
  font-size: calc(15px + (6 + 6 * 0.7) * (100vw - 320px) / 1280);
  color: #111;
  font-family: 'Bahnschrift Light', Arial, sans-serif;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.second-page {
  min-height: 100vh;
  background-color: #131418;
}

.menu-second-page {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding: 30px;

}

.menu-second-page div {
  font-size: 20px;
  margin-right: 35px;
}

.menu-second-page div a {
  color: #4b4e57;
}

.content,
.hero,
.main-header,
.gallery>* {
  will-change: transform;
}

.hero {
  width: 400px;
  position: absolute;
  left: 40vw;
  top: 5vh;
  z-index: 1;
}

.hero1 {
  width: 400px;
  position: absolute;
  left: 55vw;
  bottom: 20vh;
  z-index: 10;
  border-radius: 10px;
}

.container {
  padding: 0 7vw 0 5vw;
}

.main-title {
  font-family: 'Cascadia Code ExtraLight', sans-serif;
  font-size: calc(var(--index) * 4);
  width: min-content;
  position: absolute;
  color: #545460;
  line-height: .9;
  margin-top: calc(var(--index) * 2);
}

.main-title1 {
  font-family: 'Cascadia Code ExtraLight', sans-serif;
  font-size: calc(var(--index) * 4);
  position: absolute;
  color: #ffffff;
  line-height: .9;
  margin-top: calc(var(--index) * 7);
  left: 10vw;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery>* {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-header-1{
  height: 100vh;
}
.hero-section-1{
  position: absolute;
  top: 500vh;
  width: 100%;
}
.gallery__item {
  max-width: calc(var(--index) * 20);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right {
  margin-left: 130px;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
}

.text-block__p {
  line-height: 1.75;
}

.third_page {
  min-height: 100vh;
  background-color: #131418;
}
.link-div{
  position: absolute;
  margin-top: 100px;
  margin-left: 160px;
  color: var(--color-text);
  font-family: 'Microsoft JhengHei Light', sans-serif;
  font-size: calc(var(--index));
}
.link-div a{
  color: var(--color-text);
  text-decoration: underline;
}
.link-div a:hover{
  color: rgb(158, 158, 158);
}

.fourth_page{
  min-height: 100vh;
  background-color: #131418;
}

.hero-section-2{
  position: absolute;
  top: 620vh;
  width: 100%;
}

.hero2 {
  width: 400px;
  position: absolute;
  left: 10vw;
  bottom: 20vh;
  z-index: 10;
  border-radius: 10px;
}

.main-title2 {
  font-family: 'Cascadia Code ExtraLight', sans-serif;
  font-size: calc(var(--index) * 4);
  position: absolute;
  color: #ffffff;
  line-height: .9;
  margin-top: calc(var(--index) * 7);
  left: 45vw;
}

.link-div2{
  position: absolute;
  margin-top: 230px;
  margin-left: 700px;
  color: var(--color-text);
  font-family: 'Microsoft JhengHei Light', sans-serif;
  font-size: calc(var(--index));
}


@media (max-width: 1000px) {

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}



@media screen and (max-width: 1100px) {
  .img {
    max-width: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .img {
    max-width: 200px;
  }
}

@media screen and (max-width: 830px) {
  .img {
    max-width: 150px;
  }
}

@media screen and (max-width: 670px) {
  .tovar {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .img {
    height: 100px;
  }
}

@media screen and (max-width: 350px) {
  .img {
    max-width: 110px;
  }
}