{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    Profile
    <div>
        <ul>
            <li>Email: {{ user.email }}</li>
        </ul>
    </div>
    <a href="{% url 'core:logout' %}">Выйти</a>
    {% for post in posts %}
    <ul class="list-group list-group-numbered">
            <li class="list-group-item">{{ post.title }}</li>
            <li class="list-group-item">{{ post.price }}</li>
            <li class="list-group-item">{{ post.category }}</li>
    </ul><br>
    {% endfor %}
{% endblock %}